{%  extends 'base.html' %}
{%  block css %}
<link href="../static/siteview.css" rel="stylesheet">
{%  endblock css %}

{% block title %}SitesView{%  endblock %}
{% block content %}
    <table id="site">
        <thead>
    <tr>
        <th>Site Name</th>
        <th>SysAdmin Name</th>
        <th>OWA Address</th>
        <th>Firewall Address</th>
        <th>Contact Phone</th>
        <th>Address</th>
        <th>Internal Domain</th>
        <th>External Domain</th>
        <th>External Hosts(Scanning)</th>
    </tr>
</thead>
<tbody>

    {%  for obj in objects %}
        <tr>
            <td>{{ obj[1] }}</td><!-- Site Name -->
            <td>{{ obj[2] }}</td><!-- SysAdmin Name -->
            <td>{{ obj[3] }}</td>
            <td>{{ obj[4] }}</td>
            <td>{{ obj[5] }}</td><!-- Contact -->
            <td>{{ obj[6] }}</td> <!-- address -->
            <td>{{ obj[7] }}</td> <!-- _InternalDomain -->
            <td>{{ obj[8] }}</td>
            <td>{{ obj[9] }}</td>
        </tr>
    {% endfor %}
</tbody>
    </table>
{% endblock %}